circle.placeholder {
    fill: #fff;
    fill-opacity: 0;
}

.showPlaceholder circle.placeholder {
    stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 3;
}

circle.normal {
    fill: #f66;
    stroke: #000;
    stroke-width: 1px;
}

circle.large {
    fill: #f66;
    stroke: #000;
    stroke-width: 2px;
}

circle.right {
    fill: #da0;
    stroke: #000;
    stroke-width: 2px;
}

circle.left {
    fill: #0ad;
    stroke: #000;
    stroke-width: 2px;
}

circle.up {
    fill: #494;
    stroke: #000;
    stroke-width: 2px;
}

line {
    stroke: #fff;
    stroke-width: 3px;
    stroke-linecap: round;
}

line.longNotes {
    stroke: rgb(218, 221, 51);
    stroke-width: 15px;
    stroke-linecap: round;
}

#editPanel {
    position: fixed;
}
#score {
    position: fixed;
    left: 25rem;
}